*{
  margin:0;
  
}

.topnav {
  background-color: #080e36;
  overflow: hidden;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 7px;
  margin-top: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  margin-top: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4D4D4D;
  color: white;
}

.topnav a {
  margin-right: 20px;
}


h3 {
  color:white;
  position: relative;
  font-size: 200px; 
  top: -00px;
  text-align: center;
  font-family: Georgia, serif;
}

#desc {
    color:white;    
    position: relative;  
    font-size: 25px; 
    font-family: 'Work Sans', sans-serif; 
    text-align: center;
}

#search{
  color:white;    
  position: relative;  
  font-size: 25px; 
  font-family: 'Work Sans', sans-serif; 
  text-align: center;
  top: -570px;
  right: 485px;

}

#quiz{
  color:white;    
  position: relative;  
  font-size: 25px; 
  font-family: 'Work Sans', sans-serif; 
  text-align: center;
  top: -700px;
}

#profile{
  color:white;    
  position: relative;  
  font-size: 25px; 
  font-family: 'Work Sans', sans-serif; 
  text-align: center;
  top: -830px;
  right: -490px;
}

ul{
  color: white;
  text-align: center;
  list-style-position: inside;
  font-size: 25px;
  text-shadow: 2px 2px #000000;
}

.button {
   background-color: #080e36;
   border: none;
   border-radius: 15px;
   color: white;
   padding: 20px 34px;
   text-decoration: none;
   display: inline-block;
   font-size: 18px;
   margin: 90px 645px;
   cursor: pointer;
   box-shadow: 2px 2px black;
   
 }

footer{
  width: 100%;
  bottom:90px; /* 212 , 190*/
  position: relative;
  left: 0;
  height: 40px; /* 50px */
  text-align:center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  margin-top: 10px;
}

.container {
  display: flex;
}
.square {
    height: 400px;
    width: 700px;
    background-color: #464646;
}

/* making circular images for search, quiz, and profile*/
.image1 {
  position: relative; 
  width: 300px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 50%; 
}

.image1 img{ 
  width: 100%; 
  height: auto; 
}

.image2 {
  position: relative; 
  width: 300px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 50%; 
  align-items: center;
  right: -960px;
  top: -300px;
}

.image2 img{ 
  width: 100%; 
  height: auto; 
}

.image3 {
  position: relative; 
  width: 300px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 50%; 
  margin-left: auto;
  margin-right: auto;
  top: -600px;
}

.image3 img { 
  width: 100%; 
  height: auto; 
}

