#checkIn-container
{
    background-color: rgb(255, 255, 255);
}

#checkIn-container :hover{
    color: #727FA8;
}

.user-list {
    margin-top: 20px;
    margin-left: 330px;
    width: 75%;
    height: 100%;
}

.user-list h5 {
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.user-list button
{
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
}

.user-list .card {
    background-color: #d2d0d0;
    margin-bottom: 10%;
}
