*{
    margin:0;
    box-sizing: border-box;
  }
  
  .topnav 
  {
    background: rgb(101, 44, 108); /* 100% opacity */
    overflow: hidden;
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 7px;
  }
  
  .logo{
    color: white;
    padding-right: 20px;
    font-size: 32px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the current link */
  .topnav a.active {
    background-color: #4D4D4D;
    color: white;
  }

  body {
    background-image: url("/FrontEnd/Static(images)/therepy.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
  }
  
  h1 {
    color:white;
    text-align: center;
    padding-top: 10px;
    font-size: 100px;
    text-shadow: 4px 4px #000000; 
    font-family: Georgia, serif;
  }
  
  footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
    height: 50px;
    text-align:center;
  }

  form {
  /* Center the form on the page */
  margin: 0 auto; 
  width: 350px;  
  /* Form outline */
    padding: 3em;  
} 


label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 100px;
  text-align: right; 
} 


input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
   width: 360px; 
}


input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
   height: 9em; 
}

/* Add a color to the active/current link
