* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #f3e8e8;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    color:black;
    text-align: center;
    font-size: 100px;
    font-family: Georgia, serif;

  }

.login-div {
    margin-left: 1000px; 
    margin-top: 70px; 
    height: 450px; 
    width: 400px; 
    background-color: #96b9c6; 
    padding: 60px;
}

.title{
    font-family: 'Poppins', sans-serif;
    margin-bottom: -50px;
    font-size:40px;
    color: white;
  
}

.email{
    font-family: 'Poppins', sans-serif;
    display: block;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    position: relative;
    right: 50px;
}

.email svg {
    height: 25px;
    margin-bottom: -10px;
    margin-left: -5px;
    margin-right: 5px;
}


.options {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}