* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #f3e8e8 ;
}

.signup-div {
  position: relative;
  right: -740px;
  top: -520px;
  height: 600px; 
  width: 400px; 
  background-color: #96b9c6; 
  padding: 60px;
}

.title{
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
    margin-bottom: -50px;
    font-size:40px;
    color: white;
}

.form{
    width: 100%;
    margin-top: 30px;
    position: relative;
    top:-50px;
    
}

.form input {
  font-size:  18px;
  padding: 10px 20px 10px 5px;
  margin-bottom: 10px;
  position: relative;
  right: -30px;
  top: -5px;
  border: none;
  outline: none;
  background: none;
}

.email{
    font-family: 'Poppins', sans-serif;
    display: block;
    position: relative;
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 50px;
}

.username{
  font-family: 'Poppins', sans-serif;
  display: block;
  position: relative;
  border-radius: 40px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 50px;
}

.password{
  font-family: 'Poppins', sans-serif;
  display: block;
  position: relative;
  border-radius: 40px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 50px;
}

.form svg {
  height: 25px;
  position:relative;
  top: 25px;
  right: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
}
.signupim
{
  position: relative;
  left: -10px;
}
.options {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

input.signfirst-btn {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    position: relative;
    right: -1px;
    top: -50px;
    background-color: #1762A7;
    color: #fff;
    margin-bottom: 50px;
}

.sign-first{
    color: #1762A7;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 5px;
    font-size: large;
    font-weight: 500, bolder;
    position: relative;
    top: -80px;
}

a {
    text-decoration: none;
    color: #505050;
}

/* other add */
*{
    margin:0;
    box-sizing: border-box;
  }
  
  .topnav 
  {
    background: #080e36;
    overflow: hidden;
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 7px;
  }
  
  .logo{
    color: white;
    padding-right: 20px;
    font-size: 32px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the current link */
  .topnav a.active {
    background-color: #4D4D4D;
    color: white;
  }

  h1 {
    color:black;
    text-align: center;
    padding-top: 10px;
    font-size: 100px;
    font-family: Georgia, serif;
  }
  
  
  footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
    height: 50px;
    text-align:center;
  }
