* {
  margin: 0;
  box-sizing: border-box;
}

.body-text {
  margin-left: 150px;
  font-size: 18px;
  background-color: rgb(69, 83, 94);
  height: 100%;
}

/* Add responsiveness - will automatically display the navbar vertically instead 
  of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.topnav a{
  margin-right: 20px;
}

.topnav i{
  margin-top: 10px;
}

.sidebar {
  height: 100%;
  width: 25%;
  position: absolute;
  left: 0;
  top: 2;
  padding-top: 40px;
  background-color: rgb(47, 101, 142);
  /* background-color: lightblue; */
}

.sidebar-container {
  background-color: #199a84;
  border-radius: 50px;
  width: 80%;
  margin-left: 10%;
}

.sidebar a {
  text-decoration: none;
  font-size: 35px;
  color: #080e36;
  display: block;
  padding: 20px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Moves the icons a bit to the left of the text */
a i.fa {
  margin-right: 15px;
}

